button {
    color: var(--text-button);
    font-weight: 300;
    border: 1px solid var(--color-surface);
    border-radius: var(--radius-sm);
    width: 100%;
    padding: var(--space-0);
    background-color: var(--fill-secondary);
    animation: gradientMove 6s ease infinite;

    & span {
        font-weight: 400;
    }
}

button:hover{
    background: linear-gradient(30deg, var(--fill), var(--fill-secondary));
    transition: 1s;

}