main{
    display: flex;
    justify-content: space-around;
    height: 100vh;

    & .container{
        width: 30%;
        height: 50%;
        margin-top: 20vh;

        & .avatar{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 40%;
            margin-bottom: var(--space-2);

            & span {
                background-color: var(--surface);
                border-radius: var(--radius-md);

                & svg{
                    color: var(--text-primary);
                }
            }
        }

        & form{
            display: flex;
            flex-direction: column;
            gap: var(--space-1);
            height: 60%;

            & .form-group{
                display: flex;
                flex-direction: column;
            }
                & label {
                    font-weight: 250;
                }

                & input {
                    background-color: var(--surface);
                    padding: 2px;
                    outline: none;
                    border: none;
                    border-radius: var(--radius-sm);
                    color: var(--primary-color)
                }
                
                & .label-error {
                    color: var(--color-danger)
                }

                & .input-error {
                    border: 1px solid var(--color-danger)
                }
                
                & .error-message {
                    color: var(--color-danger);
                }

        }

        & .register{

            & p{
                font-size: var(--font-size-sm);
                font-weight: 300;
            
                & a{
                text-decoration: none;
                color: var(--link);
                }

                & a:hover{
                color: var(--text-stroke);
                text-decoration: underline;
                }
            
            }
        }
    }

}