<app-header />
<main>
    <section class="title">
        <h2>HELLO<span>LEARNER</span>!</h2>
        <p>
            Aqui você poderá desenvolver novas habilidades,
            escolher quem será seu guia nessa nova jornada além
            de aprender de forma personalizada.
        </p>

    </section>
    <section class="container">
        <form [formGroup]="registerLearnerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName" class="form-label"
                    [class.label-error]="firstName?.touched && firstName?.invalid">Nome:</label>
                <input type="text" formControlName="firstName" class="form-input"
                    [class.input-error]="firstName?.touched && firstName?.invalid">
                @if(firstName?.touched && firstName?.hasError('required')){
                <small class="error-message">Nome é obrigatório.</small>
                }
                @if(firstName?.touched && firstName?.hasError('minlength')){
                <small class="error-message">Nome deve ter pelo menos 3 caracteres.</small>
                }
            </div>
            <div class="form-group">
                <label for="lastName" class="form-label"
                    [class.label-error]="lastName?.touched && lastName?.invalid">Sobrenome:</label>
                <input type="text" formControlName="lastName" class="form-input"
                    [class.input-error]="lastName?.touched && lastName?.invalid">
                @if(lastName?.touched && lastName?.hasError('required')){
                <small class="error-message">Sobrenome é obrigatório.</small>
                }
                @if(lastName?.touched && lastName?.hasError('minlength')){
                <small class="error-message">Sobrenome deve ter pelo menos 3 caracteres.</small>
                }
            </div>
            <div class="form-group">
                <label for="birthDate" class="form-label"
                    [class.label-error]="birthDate?.touched && birthDate?.invalid">Data de Nascimento:</label>
                <input type="date" formControlName="birthDate" class="form-input" class="form-input"
                    [class.input-error]="birthDate?.touched && birthDate?.invalid">
                    @if(birthDate?.touched && birthDate?.hasError('required')){
                        <small class="error-message">Data de nascimento é obrigatória.</small>
                    }
            </div>
            <app-form-button text="Cadastrar"></app-form-button>
        </form>
    </section>
</main>