<main class="mentor-register">
    <header>
        <h1>Olá, <span>Mentor</span>!</h1>
        <p>Preencha os dados para continuar _</p>
    </header>

  <form class="mentor-register__form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-field">
      <label for="firstName">Nome:</label>
      <input id="firstName" type="text" formControlName="firstName" />

      @if (form.controls.firstName.touched && form.controls.firstName.invalid) {
        <small class="error-message">First name is required.</small>
      }
    </div>

    <div class="form-field">
      <label for="lastName">Sobrenome:</label>
      <input id="lastName" type="text" formControlName="lastName" />

      @if (form.controls.lastName.touched && form.controls.lastName.invalid) {
        <small class="error-message">Last name is required.</small>
      }
    </div>

    <div class="form-field">
      <label for="birthDate">Data de nascimento</label>
      <input id="birthDate" type="date" formControlName="birthDate" />

      @if (form.controls.birthDate.touched && form.controls.birthDate.invalid) {
        <small class="error-message">Birth date is required.</small>
      }
    </div>

    <div class="form-field">
      <label for="courseName">Curso:</label>
      <input id="courseName" type="text" formControlName="courseName" />

      @if (form.controls.courseName.touched && form.controls.courseName.invalid) {
        <small class="error-message">Course name is required.</small>
      }
    </div>

    <div class="form-field">
      <label for="institution">Instituição</label>
      <input id="institution" type="text" formControlName="institution" />

      @if (form.controls.institution.touched && form.controls.institution.invalid) {
        <small class="error-message">Institution is required.</small>
      }
    </div>

    <div class="form-field">
      <label for="educationStatus">Graduação:</label>
      <select id="educationStatus" formControlName="educationStatus">
        <option value="0">Em andamento</option>
        <option value="1">Completa</option>
      </select>

      @if (form.controls.educationStatus.touched && form.controls.educationStatus.invalid) {
        <small class="error-message">Education status is required.</small>
      }
    </div>

    <div class="form-field">
      <label for="conclusionDate">Data de conclusão</label>
      <input id="conclusionDate" type="date" formControlName="conclusionDate" />

      @if (form.controls.conclusionDate.touched && form.controls.conclusionDate.invalid) {
        <small class="error-message">Conclusion date is required.</small>
      }
    </div>

    <div class="form-field">
      <label for="bio">Bio</label>
      <textarea
        id="bio"
        rows="5"
        formControlName="bio"
        placeholder="Tell us a little about yourself">
      </textarea>
    </div>

    <button class="form-button"  type="submit">Finalizar Cadastro</button>
  </form>
</main>
