<app-header></app-header>
<main>
    <section class="profile-summary">
        @if (mentor(); as currentMentor){
            <app-mentor-summary [mentor]="currentMentor" (availabilityChanged)="updateMentorAvailability($event)">"></app-mentor-summary>
        } @else if (isLoading()){
            <p>Carregando...</p>
        }
        @else {
            <p>{{ errorMessage() || 'Dados do mentor não carregados'}}</p>
        }
    </section>
    <section class="dashboard-container">
        <div class="header">
            <nav class="nav-links">
                <a [class.active]="currentSection() === 'mentorships'" (click)="selectSection('mentorships')">Mentorias</a>
                <a [class.active]="currentSection() === 'requests'" (click)="selectSection('requests')">Convites recebidos</a>
                <a [class.active]="currentSection() === 'stacks'" (click)="selectSection('stacks')">Stacks</a>
            </nav>
        </div>
        <section class="currentSection">
            @switch (currentSection()) {
                @case ('mentorships') {
                    <p>Mentorias</p>
                }
                @case ('requests') {
                    <app-received-mentorship-requests></app-received-mentorship-requests>
                }
                @case ('stacks') {
                    <app-mentor-add-stack (stackAdded)="loadMentor()"></app-mentor-add-stack>
                }
            }
        </section>
    </section>
</main>