main {
    display: flex;
    height: 90vh;
    width: 100vw;

    & .profile-summary{
        height: 100%;
        width: 25%;
        border-right: 4px solid var(--header-color);

    }

    & .dashboard-container{
        height: 100%;
        width: 80%;

        & .header{
            height: 10%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            & .nav-links{
                display: flex;
                gap: var(--space-4);

                & a{
                    color: var(--color-link);
                    padding-block: 4px;
                    padding-inline: 16px;
                    background-color: var(--color-surface);
                    border-radius: 4px;
                    font-weight: 300;
                }

                & a:hover{
                    color: var(--color-link-hover);
                    font-weight: 300;
                    background-color: var(--color-border );
                    transition: .5s;
                }
            }
        }
    }
}