header{
    display: flex; 
    justify-content: space-around;
}

header div{ 
    display: flex;
    flex-direction: column;
}

.title{
    font-family: var(--font-code);
    font-size: var(--font-size-3xl);
    font-weight: lighter;
    margin-bottom: 8px;
}

.title span{
    color: var(--color-secondary);
}

section {
    display: flex;
    justify-content: space-around;
    height: 50vh;
}

.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
}

.profile-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 80%;
    border-radius: 16px;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    padding: 24px;
    cursor: pointer;
}

.profile-card:hover{
    border: 1px solid var(--color-primary-hover);
    background-color: var(--color-surface);
    transition: .5s;
}

.my-icon{
    color: var(--color-secondary);
    padding: 16px;
    font-weight: lighter;
}

.title-button{
    color: var(--color-primary);
}

.text-button{
    font-size: var(--font-size-sm);
    color: var(--color-primary);
    
}
