<app-header></app-header>
<main>
    <section class="profile-summary">
        @if (learner(); as currentLearner){
        <app-learner-profile [learner]="currentLearner"></app-learner-profile>
        }@else if (isLoading()){
        <p>Carregando...</p>
        }
        @else {
        <p>{{ errorMessage() || 'Dados do learner não carregados'}}</p>
        }
    </section>
    <section class="dashboard-container">
        <div class="header">
            <nav class="nav-links">
                <a [class.active]="currentSection() === 'search'" (click)="selectSection('search')">Pesquisar Mentores</a>
                <a [class.active]="currentSection() === 'requests'" (click)="selectSection('requests')">Convites enviados</a>
                <a [class.active]="currentSection() === 'mentorships'" (click)="selectSection('mentorships')">Mentorias</a>
            </nav>
        </div>
        <section class="currentSection">
            @switch (currentSection()) {
                @case ('search') {
                    <app-search-mentor></app-search-mentor>
                }
                @case ('requests') {
                    <app-sent-mentorship-requests></app-sent-mentorship-requests>
                }
                @case ('mentorships') {
                    <p>Mentorias</p>
                }
            }
        </section>
    </section>
</main>
