header{
    display: flex;
    height: 10vh;
    background-color: var(--surface);

    & img {
        max-width: 200px;
        height: auto;
        object-fit: contain;
        margin-inline: var(--space-1);
    }
}