main {
    display: flex;


    & .title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: var(--space-3);
        font-family: var(--font-code);

        & h2{
            font-weight: lighter;
        }
    }

    & .container {
        padding: var(--space-3);

        & .stacks {

            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        & .button-wrapper{
            display: flex;
            justify-content: space-around;
            padding: var(--space-3);

        }
    }
}