header{
    display: flex; 
    justify-content: space-around;
}

header div{ 
    display: flex;
    flex-direction: column;
}

.title{
    font-family: var(--font-code);
    font-size: var(--font-size-3xl);
    font-weight: lighter;
    margin-bottom: 8px;
}

.title span{
    color: var(--color-secondary);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding: 16px;
    gap: 16px;
}

.form-field{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 25%;
}

.form-field input{
    color: var(--color-primary);
    background-color: var(--color-surface);
    border: 1px solid var(--color-primary);
    padding: 4px;
    border-radius: 8px;
}

.form-field input:focus{
    color: var(--color-primary);
    outline: 1px solid var(--color-primary);
}

.form-button{
    color: var(--color-primary);
    background-color: var(--color-surface);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    padding: 4px;
    width: 25%;
    margin-top: 8px;
}

.form-button:hover{
    color: var(--color-surface);
    background-color: var(--color-primary-hover);
    border: 1px solid var(--color-primary-hover);
    transition: .5s;
}