div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding-block: 4px;
    padding-inline: 8px;
    background-color: var(--card-background);
    color: var(--text-secondary);
    border-radius: .4rem;
    font-weight: 450;
    font-family: var(--font-code);

    & svg {
        color: var(--text-primary);
    }

    & svg:hover {
        color: var(--color-danger);
    }
}

div:hover{
    background-color: var(--fill);
    color: var(--text-primary);
}

.selected{
    background-color: var(--fill-secondary);
    color: var(--color-blocked);
}
