<main>
    <header>
        <h1>Olá, <span>Learner</span>!</h1>
        <p>Preencha os dados para continuar _</p>
    </header>

    <form class="learner-register__form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-field">
            <label for="firstName">Nome:</label>
            <input id="firstName" type="text" formControlName="firstName" />

            @if (form.controls.firstName.touched && form.controls.firstName.invalid) {
            <small class="error-message">First name is required.</small>
            }
        </div>

        <div class="form-field">
            <label for="lastName">Sobrenome: </label>
            <input id="lastName" type="text" formControlName="lastName" />

            @if (form.controls.lastName.touched && form.controls.lastName.invalid) {
            <small class="error-message">Last name is required.</small>
            }
        </div>

        <div class="form-field">
            <label for="birthDate">Data de nascimento:</label>
            <input id="birthDate" type="date" formControlName="birthDate" />

            @if (form.controls.birthDate.touched && form.controls.birthDate.invalid) {
            <small class="error-message">Birth date is required.</small>
            }
        </div>

        <button class="form-button" type="submit">Finalizar cadastro</button>
    </form>
</main>